@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

/* font-family: 'Red Hat Display', sans-serif; */

/* THE VARIABLES */
:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

/* THE GLOBAL STYLES */

html {
  font-size: 16px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url("../images/pattern-background-desktop.svg");
  background-size: 1440px 437px;
  background-position: top;
  background-repeat: no-repeat;

  background-color: var(--pale-blue);
}

/* THE COMPONENTS STYLES */

.order-container {
  width: 450px;
  height: 697px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
  border-radius: 20px;
}

/* Image Area */

.image-area img {
  max-width: 100%;
  display: block;
  border-radius: 1.25rem 1.25rem 0px 0px;
}

/* Content Area */

.content-area {
  max-width: 100%;
  padding: 3rem 3rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  background-color: #ffffff;
  border-radius: 20px;
}

.content-area__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.063rem;
  text-align: center;
  margin-top: -0.188rem;
}

.content-area__text h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 1.75rem;
  line-height: 2.313rem;
  color: var(--dark-blue);
}

.content-area__text p {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  color: var(--desaturated-blue);
}

.content-area__subscriptions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

/* Annual Plan - Grid Template (Start) */

.content-area__subscriptions--plans {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: repeat(2, 1fr);

  padding: 1.563rem 1.5rem;

  background-color: var(--very-pale-blue);
  border-radius: 0.688rem;
  column-gap: 1.25rem;
}

.plans_el--1 {
  grid-column: 1;
  grid-row: 1/-1;
  justify-self: center;
  align-self: center;
}

.plans_el--2 {
  justify-self: start;
  align-self: start;

  font-style: normal;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.313rem;

  color: var(--dark-blue);
}

.plans_el--3:link,
.plans_el--3:visited {
  grid-column: 3;
  grid-row: 1/-1;
  justify-self: center;
  align-self: center;

  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.188rem;

  color: var(--bright-blue);

  /* The straight line */
  text-underline-offset: 3.5px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

.plans_el--3:hover,
.plans_el--3:active {
  color: hsl(245, 83%, 68%);
}

.plans_el--4 {
  justify-self: start;
  align-self: end;

  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.313rem;

  color: var(--desaturated-blue);
}

/* Annual Plan - Grid Template (End) */

/* Buttons Area */

.content-area__subscriptions--buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.buttons_el--1:link,
.buttons_el--1:visited {
  display: inline-block;
  text-decoration: none;

  font-style: normal;
  font-weight: 900;
  font-size: 0.938rem;
  line-height: 1.25rem;
  color: #ffffff;

  background: var(--bright-blue);
  box-shadow: 0px 1.25rem 1.25rem hsla(245, 75%, 52%, 0.19);
  border-radius: 0.688rem;
  padding: 0.938rem 6.375rem;
}

.buttons_el--1:hover,
.buttons_el--1:active {
  background: hsl(245, 83%, 68%);
}

.buttons_el--2:link,
.buttons_el--2:visited {
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: 900;
  font-size: 0.938rem;
  line-height: 1.25rem;
  color: var(--desaturated-blue);
}

.buttons_el--2:hover,
.buttons_el--2:active {
  color: var(--dark-blue);
}
